.animeList{
    --auto-grid-min-size: 11rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 4%;
}

.animeBlock{
    text-align: center;
    padding: 3px;
}

.animeBlock:hover{
    border: 2px solid #0295DB;
    box-shadow: 2px 2px 2px#0295DB;
}

.animeBlock img{
    width: 180px;
    height: 280px;
}

.btnAdd{
    background-color: #0295DB;
    color: white;
    padding: 4px;
    border: none;
}

.btnAdd:hover{
    border: 1px solid black;
    font-weight: bold;
}

.btnAdd:active{
    background-color: white;
    color: #0295DB;
}

.pagination{
    margin-top: 100px;
}

.pagination ul{
    display: flex;
    list-style: none;
}

.pagination ul li{
    padding: 5px;
    border: 2px solid #0295DB;
    margin-left: 20px;
}

.pagination li:active{
    background-color: #0295DB;
    color: white;
}